In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]],index=['a', 'b', 'c', 'd'],columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [6]:
df.sum(axis='rows') #你也可以不要參數拉(rows)

one    9.25
two   -5.80
dtype: float64

In [4]:
# 在計算平均數的時候，因為有ＮＡ值的部分比較不準確，因此可以利用skipna的參數來挑過
df.mean(axis='columns', skipna=True)

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [ ]:
'''

其他的跳過方法。
Table 5-7. Options for reduction methods

'''

In [ ]:
# 直接返回最大值
df.idxmax()

one    b
two    d
dtype: object

In [ ]:
# 累加
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [ ]:
# 顯示一般統計數據
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [ ]:
# 如果是非數值資料的話
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [ ]:
'''

其他的計算方式
Table 5-8. Descriptive and summary statistics

'''