In [1]:
'''
接下來要講資料清理的部分拉！

首先是要如何面對消失的data?

'''
import pandas as pd
import numpy as np
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado']) #用np.nan建NAN值
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [43]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [3]:
'''

PPT
Table 7-1. NA handling methods

'''

'\n\nPPT\nTable 7-1. NA handling methods\n\n'

In [3]:
## Filtering Out Missing Data 
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [4]:
data.dropna()   # == data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [5]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [8]:
# data.isnull()
data.isnull().any()

0    True
1    True
2    True
dtype: bool

In [36]:
data.isnull().any()

0    True
1    True
2    True
dtype: bool

In [37]:
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

In [10]:
# how = 'all' 只會刪除全部都是NA的rows
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [11]:
# 如果你想要刪除到column的話
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [12]:
# 用這種方式就可以了
data.dropna(how='all', axis=1)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [13]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0  0.007841       NaN       NaN
1 -0.067164       NaN       NaN
2  0.029797       NaN -0.208227
3 -0.759113       NaN  0.569996
4 -0.227460  1.252722 -1.697380
5 -0.423457 -1.003622 -1.352246
6 -1.426037  0.145921 -1.136692

In [ ]:
## Parsing functions in pandas
'''

functions are in ppt.
see Table 6-1. Parsing functions in pandas

'''
import pandas as pd
import numpy as np

rout = "/Users/jasonjr/Documents/Python/ex1.csv"

In [14]:
## Filling In Missing Data 不想刪掉缺失資料，改成填補想要的值
#fillna 默認返回新對象
df.fillna(0)

          0         1         2
0  0.007841  0.000000  0.000000
1 -0.067164  0.000000  0.000000
2  0.029797  0.000000 -0.208227
3 -0.759113  0.000000  0.569996
4 -0.227460  1.252722 -1.697380
5 -0.423457 -1.003622 -1.352246
6 -1.426037  0.145921 -1.136692

In [15]:
df.fillna({1: 0.5, 2: 0})   # 1就放0.5, 2就放0

          0         1         2
0  0.007841  0.500000  0.000000
1 -0.067164  0.500000  0.000000
2  0.029797  0.500000 -0.208227
3 -0.759113  0.500000  0.569996
4 -0.227460  1.252722 -1.697380
5 -0.423457 -1.003622 -1.352246
6 -1.426037  0.145921 -1.136692

In [16]:
_ = df.fillna(0, inplace=True) #inplace 對現有對象進行修改, 直接改掉原本機料
df

          0         1         2
0  0.007841  0.000000  0.000000
1 -0.067164  0.000000  0.000000
2  0.029797  0.000000 -0.208227
3 -0.759113  0.000000  0.569996
4 -0.227460  1.252722 -1.697380
5 -0.423457 -1.003622 -1.352246
6 -1.426037  0.145921 -1.136692

In [38]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0  0.468180  1.307672  0.392603
1  0.486793 -1.692640  0.057207
2  0.381835       NaN -1.004308
3  0.167262       NaN -0.504463
4 -1.579962       NaN       NaN
5  1.043053       NaN       NaN

In [39]:
df.fillna(method='ffill')   # 向下填充，如果想要改向上填充則用'bfill'

          0         1         2
0  0.468180  1.307672  0.392603
1  0.486793 -1.692640  0.057207
2  0.381835 -1.692640 -1.004308
3  0.167262 -1.692640 -0.504463
4 -1.579962 -1.692640 -0.504463
5  1.043053 -1.692640 -0.504463

In [42]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  0.468180  1.307672  0.392603
1  0.486793 -1.692640  0.057207
2  0.381835 -1.692640 -1.004308
3  0.167262 -1.692640 -0.504463
4 -1.579962       NaN -0.504463
5  1.043053       NaN -0.504463

In [19]:
# 也可以用平均數的方式來做填補動作
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [20]:
'''

其他參數。
Table 7-2.  llna function arguments


'''

'\n\n其他參數。\nTable 7-2.  llna function arguments\n\n\n'