In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime
np.random.seed(12345)

In [2]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [3]:
resampler = ts.resample('S')
resampler
#後面會解釋 (Section 11.6, “Resampling and Frequency Conversion,” on page 348)

DatetimeIndexResampler [freq=<Second>, axis=0, closed=left, label=left, convention=start, base=0]

### Generating Date Ranges
**pandas.date_range** is responsible for generating a **DatetimeIndex** with an indicated length according to a particular frequency:

In [35]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

* By default, **date_range** generates daily timestamps. If you pass only a start or end date, you must pass a number of periods to generate:

In [5]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [37]:
pd.date_range('2019-01-01', '2020-01-1', freq='BM') #每月最後上班日

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30',
               '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30',
               '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [8]:
#Table on page 63. Base time series frequencies (not comprehensive)

In [9]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range('2012-05-02 12:56:31', periods=5, freq='M')#,normalize=True

DatetimeIndex(['2012-05-31 12:56:31', '2012-06-30 12:56:31',
               '2012-07-31 12:56:31', '2012-08-31 12:56:31',
               '2012-09-30 12:56:31'],
              dtype='datetime64[ns]', freq='M')

### Frequencies and Date Offsets

In [11]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [12]:
four_hours = Hour(4)
four_hours

In [13]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [14]:
Hour(2) + Minute(30)

In [15]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates
One useful frequency class is “**week of month**,” starting with **WOM**. This enables you to get dates like the third Friday of each month:

In [43]:
#每月的第一個星期五
rng = pd.date_range('2019-01-01', '2019-09-01', freq='WOM-1FRI')
list(rng)

[Timestamp('2019-01-04 00:00:00', freq='WOM-1FRI'),
 Timestamp('2019-02-01 00:00:00', freq='WOM-1FRI'),
 Timestamp('2019-03-01 00:00:00', freq='WOM-1FRI'),
 Timestamp('2019-04-05 00:00:00', freq='WOM-1FRI'),
 Timestamp('2019-05-03 00:00:00', freq='WOM-1FRI'),
 Timestamp('2019-06-07 00:00:00', freq='WOM-1FRI'),
 Timestamp('2019-07-05 00:00:00', freq='WOM-1FRI'),
 Timestamp('2019-08-02 00:00:00', freq='WOM-1FRI')]

### Shifting (Leading and Lagging) Data
* period：表示移動的幅度，可以是正數，也可以是負數，默認值是1,1就表示移動一次，注意這裏移動的都是數據，而索引是不移動的，移動之後沒有對應值的，就賦值爲NaN。
* freq： DateOffset, timedelta, or time rule string，可選參數，默認值爲None，只適用於時間序列，如果這個參數存在，那麼會按照參數值移動時間索引，而數據值沒有發生變化。
* axis：軸

In [81]:
ts = pd.Series(np.arange(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts
#freq='M': Last calendar day of month

2000-01-31    0
2000-02-29    1
2000-03-31    2
2000-04-30    3
Freq: M, dtype: int64

**.shift**(periods=1, freq=None, axis=0)

In [84]:
ts.shift(1)

2000-01-31    NaN
2000-02-29    0.0
2000-03-31    1.0
2000-04-30    2.0
Freq: M, dtype: float64

In [74]:
ts.shift(-2)

2000-01-31    2.0
2000-02-29    3.0
2000-03-31    NaN
2000-04-30    NaN
Freq: M, dtype: float64

In [75]:
ts.shift(2, freq='M')

2000-03-31    0
2000-04-30    1
2000-05-31    2
2000-06-30    3
Freq: M, dtype: int64

In [76]:
ts.shift(2, freq='3D')

2000-02-06    0
2000-03-06    1
2000-04-06    2
2000-05-06    3
dtype: int64

In [77]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0
2000-02-29 01:30:00    1
2000-03-31 01:30:00    2
2000-04-30 01:30:00    3
Freq: M, dtype: int64

#### Shifting dates with offsets

In [ ]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2019, 1, 3)
now + 3 * Day()

In [79]:
now + MonthEnd()

Timestamp('2019-01-31 00:00:00')

In [80]:
# now= (2019, 1, 3, 0, 0)
now + MonthEnd(2)

Timestamp('2019-02-28 00:00:00')

In [67]:
offset = MonthEnd()
offset.rollforward(now) #本月月底

Timestamp('2019-01-31 00:00:00')

In [68]:
offset.rollback(now) #上月月底

Timestamp('2018-12-31 00:00:00')

In [69]:
ts = pd.Series(np.arange(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15     0
2000-01-19     1
2000-01-23     2
2000-01-27     3
2000-01-31     4
2000-02-04     5
2000-02-08     6
2000-02-12     7
2000-02-16     8
2000-02-20     9
2000-02-24    10
2000-02-28    11
2000-03-03    12
2000-03-07    13
2000-03-11    14
2000-03-15    15
2000-03-19    16
2000-03-23    17
2000-03-27    18
2000-03-31    19
Freq: 4D, dtype: int64

In [70]:
ts.groupby(offset.rollforward).mean()

2000-01-31     2.0
2000-02-29     8.0
2000-03-31    15.5
dtype: float64

In [71]:
ts.resample('M').mean()

2000-01-31     2.0
2000-02-29     8.0
2000-03-31    15.5
Freq: M, dtype: float64