#### 這小節94在說時區 (自己看)
pytz

In [1]:
import numpy as np
import pandas as pd

In [35]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [32]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

By default, time series in pandas are time zone naive. For example, consider the following time series

In [16]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.117794
2012-03-10 09:30:00    0.124039
2012-03-11 09:30:00    1.830887
2012-03-12 09:30:00    1.012656
2012-03-13 09:30:00    2.770200
2012-03-14 09:30:00    1.310591
Freq: D, dtype: float64

In [17]:
print(ts.index.tz)

None

In [6]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [7]:
ts

2012-03-09 09:30:00   -3.039747
2012-03-10 09:30:00    1.596818
2012-03-11 09:30:00   -1.499044
2012-03-12 09:30:00    0.704850
2012-03-13 09:30:00    0.434185
2012-03-14 09:30:00   -0.250910
Freq: D, dtype: float64

In [8]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -3.039747
2012-03-10 09:30:00+00:00    1.596818
2012-03-11 09:30:00+00:00   -1.499044
2012-03-12 09:30:00+00:00    0.704850
2012-03-13 09:30:00+00:00    0.434185
2012-03-14 09:30:00+00:00   -0.250910
Freq: D, dtype: float64

In [9]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [10]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -3.039747
2012-03-10 04:30:00-05:00    1.596818
2012-03-11 05:30:00-04:00   -1.499044
2012-03-12 05:30:00-04:00    0.704850
2012-03-13 05:30:00-04:00    0.434185
2012-03-14 05:30:00-04:00   -0.250910
Freq: D, dtype: float64

In [11]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern

2012-03-09 09:30:00-05:00   -3.039747
2012-03-10 09:30:00-05:00    1.596818
2012-03-11 09:30:00-04:00   -1.499044
2012-03-12 09:30:00-04:00    0.704850
2012-03-13 09:30:00-04:00    0.434185
2012-03-14 09:30:00-04:00   -0.250910
Freq: D, dtype: float64

In [12]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -3.039747
2012-03-10 14:30:00+00:00    1.596818
2012-03-11 13:30:00+00:00   -1.499044
2012-03-12 13:30:00+00:00    0.704850
2012-03-13 13:30:00+00:00    0.434185
2012-03-14 13:30:00+00:00   -0.250910
Freq: D, dtype: float64

In [13]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -3.039747
2012-03-10 15:30:00+01:00    1.596818
2012-03-11 14:30:00+01:00   -1.499044
2012-03-12 14:30:00+01:00    0.704850
2012-03-13 14:30:00+01:00    0.434185
2012-03-14 14:30:00+01:00   -0.250910
Freq: D, dtype: float64

In [14]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with Time Zone−Aware Timestamp Objects

In [15]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [16]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [17]:
stamp_utc.value

1299902400000000000

In [18]:
# Timestamp內部的 UTC的 timestamp（nanoseconds）不會隨著時區變化而轉變
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

When performing time arithmetic using pandas’s **DateOffset** objects, pandas respects **daylight saving time** transitions where possible. 
Here we construct timestamps that occur right before DST transitions (forward and backward). First, 30 minutes before transitioning to DST:

In [19]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [20]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

Then, 90 minutes before transitioning out of DST:

In [21]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [22]:
stamp + Hour()

Timestamp('2012-11-04 01:30:00-0400', tz='US/Eastern')

### Operations Between Different Time Zones

In [23]:
rng = pd.date_range('12/17/2017 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2017-12-18 09:30:00   -1.034220
2017-12-19 09:30:00   -0.674913
2017-12-20 09:30:00   -0.431795
2017-12-21 09:30:00    0.334628
2017-12-22 09:30:00    1.170004
2017-12-25 09:30:00   -0.249608
2017-12-26 09:30:00    0.605013
2017-12-27 09:30:00    1.035547
2017-12-28 09:30:00   -0.710893
2017-12-29 09:30:00   -1.529837
Freq: B, dtype: float64

In [24]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
#ts1.index
ts1

2017-12-18 09:30:00+00:00   -1.034220
2017-12-19 09:30:00+00:00   -0.674913
2017-12-20 09:30:00+00:00   -0.431795
2017-12-21 09:30:00+00:00    0.334628
2017-12-22 09:30:00+00:00    1.170004
2017-12-25 09:30:00+00:00   -0.249608
2017-12-26 09:30:00+00:00    0.605013
Freq: B, dtype: float64

In [25]:
ts2

2017-12-20 12:30:00+03:00   -0.431795
2017-12-21 12:30:00+03:00    0.334628
2017-12-22 12:30:00+03:00    1.170004
2017-12-25 12:30:00+03:00   -0.249608
2017-12-26 12:30:00+03:00    0.605013
Freq: B, dtype: float64

In [26]:
result = ts1 + ts2
result

2017-12-18 09:30:00+00:00         NaN
2017-12-19 09:30:00+00:00         NaN
2017-12-20 09:30:00+00:00   -0.863590
2017-12-21 09:30:00+00:00    0.669256
2017-12-22 09:30:00+00:00    2.340007
2017-12-25 09:30:00+00:00   -0.499216
2017-12-26 09:30:00+00:00    1.210026
Freq: B, dtype: float64