In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.arange(5)+20,
                   'data2' : np.arange(5)*2})
df

  key1 key2  data1  data2
0    a  one     20      0
1    a  two     21      2
2    b  one     22      4
3    b  two     23      6
4    a  one     24      8

In [3]:
grouped = df.groupby('key1')

To use your own aggregation functions, pass any function that aggregates an array to the aggregate or **agg method**:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html

In [5]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak) #將其餘資料做max-min

      data1  data2
key1
a         4      8
b         1      2

You may notice that some methods like **describe** also work, even though they are not aggregations, strictly speaking:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html

In [6]:
###summary statistics
grouped.describe()

     data1                                                      data2  \
     count       mean       std   min    25%   50%    75%   max count
key1
a      3.0  21.666667  2.081666  20.0  20.50  21.0  22.50  24.0   3.0
b      2.0  22.500000  0.707107  22.0  22.25  22.5  22.75  23.0   2.0


          mean       std  min  25%  50%  75%  max
key1
a     3.333333  4.163332  0.0  1.0  2.0  5.0  8.0
b     5.000000  1.414214  4.0  4.5  5.0  5.5  6.0

> Custom aggregation functions are generally much **slower than the optimized functions** found in Table.

> This is because there is some extra overhead (function calls, data rearrangement) in constructing the intermediate group data chunks.

### Column-Wise and Multiple Function Application

In [10]:
tips = pd.read_csv('9tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']###創建一個新的column
tips[:6]###將新創的column，放在最後
tips.head(30)

    total_bill   tip smoker  day    time  size   tip_pct
0        16.99  1.01     No  Sun  Dinner     2  0.059447
1        10.34  1.66     No  Sun  Dinner     3  0.160542
2        21.01  3.50     No  Sun  Dinner     3  0.166587
3        23.68  3.31     No  Sun  Dinner     2  0.139780
4        24.59  3.61     No  Sun  Dinner     4  0.146808
5        25.29  4.71     No  Sun  Dinner     4  0.186240
6         8.77  2.00     No  Sun  Dinner     2  0.228050
7        26.88  3.12     No  Sun  Dinner     4  0.116071
8        15.04  1.96     No  Sun  Dinner     2  0.130319
9        14.78  3.23     No  Sun  Dinner     2  0.218539
10       10.27  1.71     No  Sun  Dinner     2  0.166504
11       35.26  5.00     No  Sun  Dinner     4  0.141804
12       15.42  1.57     No  Sun  Dinner     2  0.101816
13       18.43  3.00     No  Sun  Dinner     4  0.162778
14       14.83  3.02     No  Sun  Dinner     2  0.203641
15       21.58  3.92     No  Sun  Dinner     2  0.181650
16       10.33  1.67     No  Sun  Dinner     3  0.161665
17       16.29  3.71     No  Sun  Dinner     3  0.227747
18       16.97  3.50     No  Sun  Dinner     3  0.206246
19       20.65  3.35     No  Sat  Dinner     3  0.162228
20       17.92  4.08     No  Sat  Dinner     2  0.227679
21       20.29  2.75     No  Sat  Dinner     2  0.135535
22       15.77  2.23     No  Sat  Dinner     2  0.141408
23       39.42  7.58     No  Sat  Dinner     4  0.192288
24       19.82  3.18     No  Sat  Dinner     2  0.160444
25       17.81  2.34     No  Sat  Dinner     4  0.131387
26       13.37  2.00     No  Sat  Dinner     2  0.149589
27       12.69  2.00     No  Sat  Dinner     2  0.157604
28       21.70  4.30     No  Sat  Dinner     2  0.198157
29       19.65  3.00     No  Sat  Dinner     2  0.152672

In [11]:
grouped = tips.groupby(['day', 'smoker'])

In [13]:
# grouped.describe()

In [14]:
grouped.mean()

             total_bill       tip      size   tip_pct
day  smoker
Fri  No       18.420000  2.812500  2.250000  0.151650
     Yes      16.813333  2.714000  2.066667  0.174783
Sat  No       19.661778  3.102889  2.555556  0.158048
     Yes      21.276667  2.875476  2.476190  0.147906
Sun  No       20.506667  3.167895  2.929825  0.160113
     Yes      24.120000  3.516842  2.578947  0.187250
Thur No       17.113111  2.673778  2.488889  0.160298
     Yes      19.190588  3.030000  2.352941  0.163863

In [38]:
# grouped2 = tips.groupby(['smoker', 'day'])

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x7f6fbc775ef0>

In [17]:
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')
# grouped_pct.mean()

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [18]:
grouped_pct.agg(['mean', 'std', peak_to_peak]) #連接多個func
#peak_to_peak：arr.max() - arr.min()

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [19]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [20]:
functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions)
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [21]:
result['tip_pct']

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [14]:
#https://zh.wikipedia.org/wiki/%E6%96%B9%E5%B7%AE
ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)]
grouped['tip_pct', 'total_bill'].agg(ftuples)

                 tip_pct              total_bill
            Durchschnitt Abweichung Durchschnitt  Abweichung
day  smoker
Fri  No         0.151650   0.000791    18.420000   25.596333
     Yes        0.174783   0.002631    16.813333   82.562438
Sat  No         0.158048   0.001581    19.661778   79.908965
     Yes        0.147906   0.003767    21.276667  101.387535
Sun  No         0.160113   0.001793    20.506667   66.099980
     Yes        0.187250   0.023757    24.120000  109.046044
Thur No         0.160298   0.001503    17.113111   59.625081
     Yes        0.163863   0.001551    19.190588   69.808518

In [26]:
# grouped.agg({'tip_pct' : np.max, 'size' : 'sum'})
grouped.agg({'tip_pct' : ('min', 'max', 'mean', 'std'),
             'size' : 'sum'})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

### Returning Aggregated Data Without Row Indexes

In [16]:
tips.groupby(['day', 'smoker'], as_index=True).mean()

             total_bill       tip      size   tip_pct
day  smoker
Fri  No       18.420000  2.812500  2.250000  0.151650
     Yes      16.813333  2.714000  2.066667  0.174783
Sat  No       19.661778  3.102889  2.555556  0.158048
     Yes      21.276667  2.875476  2.476190  0.147906
Sun  No       20.506667  3.167895  2.929825  0.160113
     Yes      24.120000  3.516842  2.578947  0.187250
Thur No       17.113111  2.673778  2.488889  0.160298
     Yes      19.190588  3.030000  2.352941  0.163863

In all of the examples up until now, the aggregated data comes back with an index, potentially hierarchical, composed from the unique group key combinations. 

Since this isn’t always desirable, you can disable this behavior in most cases by passing **as_index=False** to groupby:

Of course, it’s always possible to obtain the result in this format by calling reset_index on the result. Using the **as_index=False** method avoids some unnecessary computations

In [31]:
tips.groupby(['day', 'smoker'], as_index=False).mean()

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863