## HackMD
##### https://hackmd.io/s/HkHqFchFm#Step-2-Python-%E5%A5%97%E4%BB%B6%EF%BC%88Win%EF%BC%89

## conda 介紹
http://yenlung-blog.logdown.com/posts/257347-anaconda-in-the-virtual-environment-and-package-management

##### leave conda https://conda.io/docs/user-guide/getting-started.html#managing-environments

##### 1. 在Terminal新增環境 'conda create -n mylab anaconda'
######  加anaconda會下載所有套件 花時間
###### 套件有很多 ex:tenserflow sklearn dijango requests 若全部裝一個環境會很亂，因此可以創造多個環境

###### 'conda info -e'可確認現有環境

##### 2.變換虛擬環境

##### 切換虛擬環境一定要在cmd切換完 再開jupyter notebook,因環境是一層一層包下去
###### *windows 不能用 'source activate base' ,要用 'conda activate base'
###### 變換環境後可用 'conda list' 看套件

## import csv

##### 'pip install openpyxl' or 'conda install openpyxl' 安裝讀取excel的套件
##### 更新套件可去上面conda介紹看

##### workbook 示範 
https://www.jianshu.com/p/642456aa93e2
https://openpyxl.readthedocs.io/en/stable/

In [1]:
from openpyxl import Workbook
#from 套件(工具包) import 工具
#可直接google套件去查documentation

wb = Workbook()

# grab the active worksheet
ws = wb.active


# Data can be assigned directly to cells
ws['A1'] = 42

# Rows can also be appended
ws.append([1, 2, 3])

# Python types will automatically be converted
import datetime
ws['A2'] = datetime.datetime.now()

# Save the file
wb.save("sample.xlsx")

## Basic Python

### 運算

In [3]:
x = 2
x

2

In [4]:
type(x)

int

In [29]:
x = 'Hello World!'
# or "Hello' word"
x

'Hello World!'

In [15]:
type(x)

str

In [18]:
print(x)

Hello,World!

In [2]:
p = 15
q = 37
g = 0

In [3]:
g = p + q**2
g 
g = q//p #整數除法
g 
g = q%p #餘樹
g

7

0

64

In [2]:
a = 'I '
b = 'love '
c = a + b + 'Python'
c

'I love Python'

In [1]:
y = 9527

In [3]:
c = a + b + y

TypeError: can only concatenate str (not "int") to str

In [33]:
c = a + b + str(y)
c

'I love 9527'

### List

In [2]:
str_list = ['I','love','Python']
int_list = [1,2,3]
mix_list = ['I','love','Python',1,2,3]

In [4]:
print("str_list[0]:",str_list[0])
print("str_list[1]:",str_list[1])
print("str_lost[2]",str_list[2])

str_list[0]: I
str_list[1]: love
str_lost[2] Python